<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.mappers.BoardMapper">
	<select id="list" resultType="com.web.vo.BoardVO">
		SELECT
			ntt_id
		   ,ntt_no
		   ,ntt_sj
		   ,ntt_cn
		   ,parent_no
		   ,notice_yn
		   ,atch_file_id
		   ,temp_col_1
		   ,temp_col_2
		   ,crt_id
		   ,crt_dt
		FROM SCMS_BBS
		WHERE del_yn='N'
		ORDER BY crt_dt DESC

	</select>

	<insert id="write"  useGeneratedKeys="true" keyProperty="ntt_id">
		<selectKey keyProperty="ntt_id" resultType="Integer" order="BEFORE">
			SELECT IFNULL(MAX(ntt_id),0) + 1 FROM SCMS_BBS
		</selectKey>

		INSERT INTO SCMS_BBS
		  ( 	NTT_ID
				, NTT_SJ
				, NTT_CN
				, NTT_NO
				, PARENT_NO
				, NOTICE_YN
				, ATCH_FILE_ID
				, TEMP_COL_1
				, TEMP_COL_2
				, DEL_YN
				, CRT_ID
				, CRT_DT
				, CRT_IP_ADDR
			)
		VALUES
		    (
		        #{ntt_id}
			  , #{ntt_sj}
			  , #{ntt_cn}
			  , 1
			  , #{ntt_id}
			  , #{notice_yn}
			  , #{atch_file_id}
			  , #{temp_col_1}
			  , #{temp_col_2}
			  ,'N'
			  ,	#{crt_id}
			  , NOW()
			  , #{crt_ip_addr}
			)
	</insert>




</mapper>