<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.mappers.PointMapper">
	
	<select id="pointRate" resultType="com.web.vo.PointVO">
		select *
		from point_manage 
		where mem_grade=#{mem_grade}
	</select>


	
	
</mapper>